section.blog#blog
    h1 My Blog
    hr.blog
    
    p.blog I love to put up interesting posts about all things code and business. Please visit my blog.
    
    a(href="https://mycodingwaka.wordpress.com/" target="blank")
      button Go To Blog
    

section.footer#contact
  .connect-wrap
    h1 Connect With Me
    .icon-wrap
      a(href="https://www.facebook.com/babasanya.craig")
        i.fa.fa-facebook
      a(href="https://github.com/babzcraig/")
        i.fa.fa-github
      a(href="https://www.linkedin.com/in/babasanyacraig?trk=nav_responsive_tab_profile")
        i.fa.fa-linkedin
      a(href="https://www.freecodecamp.com/babzcraig")
        i.fa.fa-fire
    a(href="#" target="blank")
      button Download My Resume
    
  .connect-wrap
    form
      input(type="text" name="name" placeholder="Your name" required)
      br
      input(type="text" name="email" placeholder="Your email" required)
      br
      textarea#message(name="message" placeholder="Your message" required)
      br
      input#submit(type="submit" value="Submit")
      
.copy Copyright &copy; 2016 by Babs Craig. All rights reserved
