section.header#top
  .header-wrap
    .nav
      a.nav-link(href="#top")
        .logo Babs Craig
        
      .nav-bar 
        ul
          li
            a.nav-link(href="#hero") About Me
          li
            a.nav-link(href="#skillset") Skillset
          li
            a.nav-link(href="#mywork") My Work
          li 
            a(target="blank" href="https://mycodingwaka.wordpress.com") My Blog
          li 
            a.nav-link(href="#blog") Connect
          li
            a.nav-link(href="#blog") My R&eacute;sum&eacute;
    
    .tagline
      h1 DIGITAL #[span SOLUTIONS] #[span CREATIVE] DESIGN
      p.lead BABS CRAIG, FRONT-END DEVELOPER
      
    .arrow
      a.nav-link(href="#hero")
        i.fa.fa-angle-down.animated.infinite.bounce
