section.header
  .header-wrap
    .nav-bar
      .logo Babs Craig
      .nav
        ul
          li
            a(href="#") About Me
          li
            a(href="#") Skill Set
          li
            a(href="#") My Work
          li 
            a(href="#") Contact Me
          li
            a(href="#") My R&eacute;sum&eacute;
    
    .tagline
      h1 DIGITAL SOLUTIONS CREATIVE DESIGN
      p.lead BABS CRAIG, FRONT-END DEVELOPER
      
    .arrow
      i.fa.fa-angle-down.animated.infinite.fadeInDown
